

.contact{
    width:100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: "Brandon Grotesque Regular", sans-serif;
    --main-hue:208;
    --main-color:hsl(var(--main-hue), 92%, 54%);
    --light-main-color:hsl(var(--main-hue), 91%, 55%);
    --main-color-hover:hsl(var(--main-hue), 77%, 48%);
    --text-color:#000;
    --nav-color:hsl(var(--main-hue), 17%, 79%);
    --bg-color:#fff;
    --light-text-color:#929caa;
    --input-bg:hsla(var(--main-hue), 50%, 50%, 6.5%);
    --input-bg-hover:hsla(var(--main-hue), 50%, 50%, 14%);
    --input-text:#8c9aaf;

}

.contact p{
    margin:0px !important;
    padding: 0px !important;
    border: 0px !important;
    font-size: 22px;
}

.contact p a{
    
    text-decoration: none;
    color:hsl(var(--main-hue), 91%, 55%);
}
.contact .container{
    
    min-height:700px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}


.left{
    width:100%;
    max-width:80rem;
    margin:0 auto;
  
    padding:0 1.5rem 0 ;
    display:grid;
    grid-template-columns: 1;
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact-heading h1{
    font-weight: 800;
    color:black;
    font-size: 2.5rem;
    line-height:0.9;
    white-space: nowrap;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
    border: 0px !important;
    font-family:"Brandon Grotesque Bold";
    
}

.contact-heading span{
    
    color:var(--main-color)
   
    
}

.contact-form{
    display:grid;
    margin-top:2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap:2rem;
    row-gap: 1rem;

}

.input-wrap{
    position: relative;
}

.input-wrap.w-100{
    grid-column:span 2;

}

.contact-input{
    width:100%;
    border:none;
    
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    outline:none;
    background-color:var(--input-bg);
    font-family: inherit;
    border-radius:20px;
    color:rgb(104, 103, 103);
    font-weight:600;
    font-size:0.95rem;
    transition: 0.3s;
    border: 2px solid transparent;
    box-shadow: 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
}

.contact-input:hover{
    background-color:var(--input-bg-hover) ;
}

.input-wrap label{
    position: absolute;
    top:50%;
    left:calc(1.35rem + 2px);
    transform: translateY(-55%);
    color:var(--light-text-color);
    pointer-events: none;
    transition: 0.3s;
}

.cbx{
    
    padding-right:0 !important;
}

.lbl{
  
    color:var(--light-text-color);
   
}

.checkb{
    margin-right:1px;
}

.input-wrap .icon{
  
    position: absolute;
    right:calc(1.35rem + 2px);
    top:50%;
    transform: translateY(-55%);
    pointer-events: none;
    color:var(--input-text)
}

textarea.contact-input{
   resize: none;
    width:100%;
    min-height:150px;    
}

textarea.contact-input ~ label{
    top:1.2rem;
    transform: none;
 }

 textarea.contact-input ~ .icon{
    top:1.3rem;
    transform: none;
 }



.input-wrap.focus .contact-input{
background-color: var(--bg-color);
border:2px solid var(--light-main-color);
box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);

}

.input-wrap.focus label{
    color:var(--light-main-color);
}

.input-wrap.focus .icon{
    color:var(--light-main-color);
}

.input-wrap.not-empty label{
    font-size:0.66rem;
    top:0.75rem;
    transform:translateY(0);
}

.input-wrap.spcl label{
    font-size:0.66rem;
    top:0.75rem;
    transform:translateY(0);
   
}
.serviceslbl{
    
    font-size:0.96rem;
    padding-top: 0px;
    padding-bottom: 2px;
    color:var(--light-text-color);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr  1fr;
    column-gap:1rem;
    margin-top:1rem;
    width:100%;
    grid-column:span 2;
}

.btn{
    display:inline-block;
    padding:1.1rem 2rem;
    background-color:var(--main-color);
    color:#fff;
    border-radius: 40px;
    border:none;
    font-family: inherit;
    font-weight: 500;
    font-size:1rem;
    cursor: pointer;
    transition:0.3s;
}

.btn:hover{
    background-color: var(--main-color-hover);
}

.btn.upload:hover{
    background-color: var(--input-bg-hover);
}

.btn.upload {
   position: relative;
   background-color: var(--input-bg);
}

.btn.upload span {
   color:var(--light-text-color)
 }

.btn.upload input{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:red;
    cursor:pointer;
    opacity:0;
}

.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
}

.image-wrapper{
    position: relative;
    grid-column: 1;
    
    left:-40%;
}

.image-wrapper .img{
    position: absolute;
    height: 130%;
    left: 140%;
    top:50%;
    transform: translate(-50%,-50%);
}

.wave-wrap{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    right:100%;
    background-color: var(--bg-color);

}


.wave-wrap svg{
    position: absolute;
    height:calc(100% + 10px);
    top:50%;
    transform: translateY(-50%);
    left:calc(100% - 2px);

}

#wave{
    fill:var(--bg-color);
    height:100%;
}

@media (max-width:1000px){

    .contact-heading h1{
        font-size: 2.5rem;
        margin-bottom:1rem;
        white-space: normal;

    }
    
    .contact-form{ 
        display: grid; 
        margin-top:1.9rem;
        column-gap: 0.8rem;
       row-gap: 0.65rem;

    }

    .contact-input{
        border-radius: 17px;
        font-size: 0.87rem;
        padding:1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
    }

    .input-wrap label{
        font-size: 0.91rem;
        left:calc(1.2rem + 2px);

    }

    .input-wrap .icon{
        font-size: 1.1rem;
        right: calc(1.2rem + 2px);
        
    }

    textarea.contact-input ~label{
        top: 1.2rem;

    }

    textarea.contact-input ~.icon{
        top: 1.33rem;

    }

    .input-wrap.focus .contact-input{
        box-shadow: 0 0 0 3.5px lightgray;
    }

    .input-wrap.not-empty .label{
        font-size: 0.61rem;
    }

    .contact-buttons{
        margin-top:0.45rem;
    }
    .btn{
        padding: 1rem 1.5rem;
        font-size: 0.87rem;
    }

    .wave-wrap{
        transform: translateX(-10%);
    }

    .wave-wrap svg{
        height: calc(110% + 10px);
        transform: translate(-5%, -50%);
    }


}

@media (max-width:650px){


.left{
    padding: 50px 1.5rem 0;
    grid-template-columns: 1fr;
    justify-items: center;
}

.form-wrapper{
    width:100%;
    padding:1rem 0;

}

.right{
    display: none;
}



}

@media (max-width:440px){


  .input-wrap{
    grid-column: span 2;
  }
    .contact-buttons{
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
    }

    .contact-heading h1{
        font-size: 1.9rem;
        line-height: 1;
    

    }


 }